{% extends "base_site.html" %}

{% block content %}
    <div id="trends">
        <div id="logo" class="item">
            <h1>FEATHERVIEW</h1>
        </div>
        {% for name, url_array in photos_for_trends.items %}
            {% for photo in url_array %}
                <div class="item">
                    <div class="tag">
                        <p>#{{name}}</p>
                    </div>
                    <img src="{{photo}}"/>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
