/* Reset
 --------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Structure
 --------------------------------------- */

html {
  min-height:100%
}

body {
  background: #000;
  color: #5c5c5c;
  font: 100%/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
}

img {
  max-width: 100%;
  height:auto;
}

/* Utilities
 --------------------------------------- */

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}


.rounded {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.rounded-top {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
}

.rounded-bottom {
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
}

/* (s)mall, (m)edium, (l)arge, (t)op, (r)ight, (b)ottom, (l)eft */
.mls { margin-left: 5px; }
.mlm { margin-left: 10px; }
.mll { margin-left: 20px; }
.mrs { margin-right: 5px; }
.mrm { margin-right: 10px; }
.mrl { margin-right: 20px; }
.mts { margin-top: 5px; }
.mtm { margin-top: 10px; }
.mtl { margin-top: 20px; }
.mbs { margin-bottom: 5px; }
.mbm { margin-bottom: 10px; }
.mbl { margin-bottom: 20px; }

#trends {
  margin: 0 auto;
}

#trends .item {
  max-width:400px;
  margin-top:15px;
  float:left;
}


#trends,
#trends .item {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

#trends {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

#trends .item {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

.item,
#options,
#optionsBar {
  background:#1a9bff;
}

#logo {
  width: 400px;
  height: 200px;
}

h1 {
  font-weight:200;
  letter-spacing:.2em;
  color:#fff;
  text-align:center;
  margin-top:80px;
}

#options {
  position:fixed;
  right:0;
  top:0;
  z-index:100;
  text-align:center;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-radius: 0px 0px 0px 6px;
  border-radius: 0px 0px 0px 6px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  height:0;
  cursor:pointer;
}

#options img {
  margin:5px;
  display:none;
}

#options:hover {
  background:#ff5d31;
}

#optionsBar {
  width:100%;
  margin: 0 auto;
  position:fixed;
  height:0px;
  top:0;
  z-index:99;
}
